<h1>All Stations for <%= @zip %></h1>

<% @stations.each do |station| %>
  <ul>
    <li><h3>Station:</h3> <%= station.name %></li>
    <li><h4>Address:</h4> <%= station.address %></li>
    <li><h4>Fuel Type:</h4> <%= station.fuel_type %></li>
    <h4>Hours</h4>
    <% station.open_hours.each do |day| %>
    <li><%= day %></li>
    <% end %>
  </ul>
<% end %>
