<h1>All Stations for <%= @zip %></h1>

<% @stations.each do |station| %>
  <ul>
    <li>Station: <%= station.name %></li>
    <li>Address: <%= station.address %></li>
    <li>Fuel Type: <%= station.fuel_type %></li>
    <h3>Hours</h3>
    <% station.open_hours.each do |day| %>
    <li><%= day %></li>
    <% end %>
  </ul>
<% end %>
