<h1>All Stations for <%= @zip %></h1>

<% @stations.each do |station| %>
  <ul>
    <li>Station: <%= station.name %></li>
    <li>Address: <%= station.address %></li>
    <li>Fuel Type: <%= station.fuel_type %></li>
    <li>Open: <%= station.open_hours %></li>
  </ul>
<% end %>
